# encoding: UTF-8
<% title "Heartbeats" %>

<table>
  <tr>
    <th>Name</th>
  </tr>
  <tr>
    <td><%= @heartbeat.timestamp %></td>
    <td><%= @heartbeat.source %></td>
    <td><%= @heartbeat.status %></td>
  </tr>
</table>
