/*!
 * Heartbeat v0.1
 */
 
  
 h2 span {

  border-radius:10px;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin-right: 5px;
  .green { background-color: green; }
 }

  background-color: green;
